{% load static %}

<!----------sidebar--------->
<div class="sidebar">
    <h1 class="logo">ITjobPlace &nbsp;&nbsp; <ion-icon class="close-bar" name="close-outline"></ion-icon></h1>
        <div class="menus">
            {% if user.is_authenticated %}
                <!-- <a href="#"><ion-icon name="home-outline"></ion-icon> Home</a>
                <a href="#"><ion-icon name="newspaper-outline"></ion-icon> Find Job</a>
                <a href="#"><ion-icon name="bookmarks-outline"></ion-icon> Saved Jobs</a>
                <a href="#"><ion-icon name="mail-unread-outline"></ion-icon> Message</a>
                <a href="#"><ion-icon name="settings-outline"></ion-icon> Setting</a> -->
                <a href="{% url 'logout' %}"><ion-icon name="settings-outline"></ion-icon> Logout</a>
            {% else %} 
            <a href="{% url 'login' %}"><ion-icon name="settings-outline"></ion-icon> Login</a>
            {% endif %}    
        </div>
    <div class="profile">
        <img class="profile-img" src="{% static 'images/job1.svg' %}">
        <div class="profile-name">
            {% if user.is_authenticated %}
                Welcome! <b>{{ user.username }}</b>
            {% else %}
                <p></p>
            {% endif %}    
        </div>
    </div>
</div>