{% extends 'extend/admin.html' %}

{% load static %}

{% block title %}Delete Job{% endblock %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{job.title}}"</p>

            <form action="{% url 'delete_job' job.id %}" method="post">
                {% csrf_token %}
                <a href="{% url 'jobs_display' %}" class="btn btn-warning">Cancel</a>
                <br>
                <input class="btn btn-danger" type="submit" name="confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}